{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Meu Site{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="head_cont">
        <button class="btn_menu" onclick="toggleMenu()">☰</button>
        <div class="head_title">
            <a href="{% url 'homeAction' %}">
                <h2>{% block titlepage %}page{% endblock %}</2h>
            </a>
        </div>
        <div>
            <a href="{% url 'homeAction' %}">
                <img src="{% static 'img/logo_pequeno.png' %}" alt="logo" class="img_logo">
            </a>
        </div>
        <br><br>
        <div id="sidebar" class="sidebar hidden">
            <ul class="menu-list">
                    <li>
                        <a href="" class="menu-item" data-target="">
                            Perfil
                        </a>
                        <!-- sub menu -->
                        <ul id="" class="submenu hidden">
                            <li>
                                <a href="" class="submenu-item">
                                    curriculo
                                </a>
                            </li>
                        </ul>
                    </li>
            </ul>
        </div>
    </div>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    <div class="rodape">
        {% block rodape %}{% endblock %}
    </div>
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>