/* Geral */
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
}

.head_title {
    flex-grow: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* Cabeçalho */
.head_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f01212;
    border-bottom: 3px solid #555151;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    padding: 0 20px;
    z-index: 999;
}

.img_logo {
    height: auto;
    margin-left: auto;
    margin-right: 15px;
    padding: 10px 15px;
}

/* Container Principal */
.container {
    width: 100%;
    height: calc(100vh - 10vh); 
    margin-top: 10vh;
    display: flex;
    font-weight: bold;
    color: black;
    background-color: white; 
}

.mini_container{
    width: 95%;
    display: inline-block;
    margin-top: 3%;
    margin-left: 8%;
    margin-bottom: none;
}

/* Sidebar */
.sidebar {
    width: 23%; 
    height: calc(100% - 10%); /* Ocupa toda a altura */
    background-color: #555151;
    color: white;
    position: fixed; /* Fixado na lateral */
    top: 10%;
    left: 0;
    border-radius: 0px 10px 0px 10px;
    border: 3px solid #555151;
    transition: transform 0.3s ease; 
    transform: translateX(-100%); /* Oculto inicialmente */
    z-index: 999;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
    /*margin: 1px 0;*/
    
}

.sidebar ul li {
    padding: 0px 0px;
    border-radius: 5px;
}

.sidebar ul li a {
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #007bff;
    text-decoration:none;
}
.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar.visible {
    transform: translateX(0);
}
.sidebar ul li.selected {
    background-color: #555151; 
    color: #fff;
}
.sidebar ul:not(.clicked):hover {
    background-color: #555151;
    color: #fff;
}

.content {
    flex: 1;
    margin-left: 10%;
    padding: 20px;
    background-color: #f4f4f4;
}

.btn_menu {
    margin-left: 10px;
    margin-right: 0;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: left 0.3s ease;
    z-index: 1000; /* Fica acima de tudo */
}

.menu-list {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu-item {
    margin-top: 3px;
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submenu {
    list-style: none;
    padding-left: 20px;
    display: none; /* Oculto inicialmente */
    background-color: #969393;
}
.submenu.visible {
    display: block; /* Mostra o submenu */
}
.submenu-item {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.submenu-item:hover {
    color: white;
    background-color: #969393;
}

.mini_btn{ 
    margin-top: none;
    padding: 10px 10px;
    float: inline-start;
    background-color: rgba(0, 0, 0, 0.6); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}
.mini_btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555151;
    border-bottom: 3px solid #555151;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 10vh;
    padding: 0 20px;
    z-index: 999;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    .content {
        margin-left: 220px;
    }
}