{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Meu Site{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}{% endblock %}
    
</head>
<body>
    <div class="head_cont">
        <button class="btn_menu" onclick="toggleMenu()">☰</button>
        <div class="head_title">
        </div>
        <div>
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo_p.png' %}" alt="logo" class="img_logo">
            </a>
        </div>
        <br><br>
        <div id="sidebar" class="sidebar hidden">
            <ul class="menu-list">
                <li>
                    <a href="{% url 'perfil' %}" class="menu-item">Perfil</a>
                </li>
                <li>
                    <a href="{% url 'cursos' %}" class="menu-item">Cursos</a>
                </li>
                {% if Grups == "Recrutador" %} 
                    <li>
                        <a href="{% url 'cadastrovagas' %}" class="menu-item">Criar Vaga</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'meuscursos' %}" class="menu-item">Meus Cursos</a>
                    </li>
                {% endif %}   
            </ul>
        </div>
    </div>
    
    <div class="container">
        {% block container %}{% endblock %}
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>