{% extends 'index.html' %}
{% load static %}

{% block title %}Cusodetalhes{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style_cusodetalhes.css' %}">
{% endblock %}

{% block container %}
<div class="prncipal">
    <form method="POST" class="form" action="{% url 'cursodetalhes' W_Curso.id %}">
    {% csrf_token %}
    <div class="container01">
        <h1>{{ W_Curso.nome }}</h1>
        <h2>Produtor:</h2>
        <p>{{ W_Curso.user.first_name }}</p>
        <h2>Valor:</h2>
        {% if W_Curso.gratis %} 
            <p>Gratís</p>
        {% else %}
            <p>{{ W_Curso.valor }}</p>
        {% endif %}
    </div>
    <div class="container02">
        <h2>Descrição da vaga:</h2>
        <p>{{ W_Curso.descricao }}</p>
        <input type="hidden" name="curso_id" id="curso_id" value="{{ W_Curso.id }}">
        <button type="submit" class="btn-Comprar" id="comprar">Comprar</button>
    </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script_cusodetalhes.js' %}"></script>
{% endblock %}