{% extends 'index.html' %}
{% load static %}

{% block title %}Cursos{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style_cursos.css' %}">
{% endblock %}

{% block container %}
<div class="prncipal">
<div class="container01">
    <div class="search-bar-container">
        <input type="text" placeholder="Pequisar vagas..." class="search-input">
        <button class="search-button">Buscar</button>
    </div>
</div>
<div class="container02">
     {% for W_Curso in T_Cursos %}
        <div class="container03">
            <h1>sdmsad</h1>
            <h2>sdmsaddss.,dsas,da,s,sdsd</h2>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script_cursos.js' %}"></script>
{% endblock %}