{% load static %}
<html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>login</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <link rel='stylesheet' href="{% static 'css/style_login.css' %}">
    </head>
    <body>
        <div class='container'>
            <form method="POST" class="form" action = "{%  url 'LOGIN' %}">
                {% csrf_token %}
                <img src="{% static 'img/logo_pequeno.png' %}" alt="logo" class="img_logo">   
                <label for="Username" class="lab">Nome:</label>
                <input type="text" id="Username" name="Username" class="text" required>
                <label for="password" class="lab">Senha:</label>
                <input type="password" id="password" name="password" class="text" required>
                <a href="{% url 'CADASTRO' %}">
                    Ainda não tem cadastro? Clique aqui para se cadastrar.
                </a>
                <button type="submit" class="btn_Entrar">Entrar</button>
            </form>
        </div>
    </body>
</html>