{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Cadastro</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href="{% static 'css/style_cadastro.css' %}">
    </head>
    <body>
   
        <!-- Logo centralizado adicionado aqui 
        <div class="logo-center">
            <img src="{% static 'img/logo_pequeno.png' %}" alt="logo" class="img_logo">   
        </div>
        -->
        <div class='container'>
            <div id="myModal_cad" class="modal">
            <div class="modal-content">
            <h3>Você é Candidato ou Recrutador?</h3>
            <form onsubmit="return false;"> <!-- Evita submit imediato -->
                <button type="button" class="btn_modal" onclick="escolherGrupo('Candidato')">CANDIDATO</button>
                <button type="button" class="btn_modal" onclick="escolherGrupo('Recrutador')">RECRUTADOR</button>
            </form>
            </div>
            </div>
            <form method="POST" class="form" action="{% url 'cadastro' %}">
                <h2 class="form-title">CADADASTRO</h2>
                {% csrf_token %}
                <input type="hidden" name="grupo" id="grupo">
                <div class="field">
                    <label for="Username" class="lab">Nome user:</label>
                    <input type="text" id="Username" name="Username" class="text" required>
                </div>
                 <div class="field">
                    <label for="nome" class="lab">Nome completo:</label>
                    <input type="nome" id="nome" name="nome" class="text" required>
                </div>
                <div class="field">
                    <label for="password" class="lab">Senha:</label>
                    <input type="password" id="password" name="password" class="text" required>
                </div>
                <div class="field">
                    <label for="conf_password" class="lab">Confirmar Senha:</label>
                    <input type="password" id="conf_password" name="conf_password" class="text" required>
                </div>
                <div class="field">
                    <label for="m_email" class="lab">E-mail</label>
                    <input type="email" id="m_email" name="m_email" class="text" placeholder="" required>
                </div>
                <button type="submit" class="btn_Entrar">Cadastrar</button>
            </form>
        </div>
        <script src="{% static 'js/script_cadastro.js' %}"></script>
    </body>
</html>