{% extends 'index.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
{% endblock %}

{% block container %}
<div class="prncipal">
<div class="container01">
    <div class="search-bar-container">
        <form method="get" action = "{%  url 'home' %}" class="search-bar-container">
            <input type="text" name="Buscar" placeholder="Pesquisar vagas..." class="search-input" value="{{ query }}">
            <button type="submit" class="search-button">Buscar</button>
        </form>
    </div>
</div>
<div class="container02">
    {% for W_vagas in T_Vagas %}
        <a href="{% url 'vagadetalhes' W_vagas.id %}">
            <div class="container03">
                <h1>Vaga:</h1>
                <p>{{ W_vagas.nome }}</p>
                <h2>Empresa:</h2>
                <p>{{ W_vagas.empresa }}</p>    
            </div>
        </a>
    {% endfor %}
</div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script_home.js' %}"></script>
{% endblock %}