{% extends 'index.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
{% endblock %}

{% block container %}
<div class="prncipal">
<div class="container01">
    <div class="search-bar-container">
        <input type="text" placeholder="Pequisar vagas..." class="search-input">
        <button class="search-button">Buscar</button>
    </div>
</div>
<div class="container02">
    {% for W_vagas in T_Vagas %}
        <a href="{% url 'vagadetalhes' %}" class="container03">
            <div class="container03">
            <h1>{{ W_vagas.nome }}</h1>
            <h2>{{ W_vagas.empresa }}</h2>
            </div>
        </a>
    {% endfor %}
</div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script_home.js' %}"></script>
{% endblock %}